<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="<%= settings.default_encoding %>">
  <title>Media Streamer - 404: Not Found!</title>
  <meta name="description" content="Media Streamer">
  <meta name="author" content="Sean Eshbaugh">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/favicon.ico" rel="shortcut icon">
</head>
<body>
  <h1>404 - Not Found</h1>
  <p>Whatever it is you're looking for sure ain't here.</p>
  <% if @closest.present? %>
    <p>Did you mean: <a href="/<%= @artist.present? ? "#{@artist}/" : ''%><%= @album.present? ? "#{@album}/" : ''%><%= @closest %>"><%= @closest %></a>?</p>
  <% end %>
</body>
</html>
