<div id="album">
  <div id="album-art">
    <img src="/<%= params[:artist] %>/<%= params[:album] %>/albumart">
  </div>
  <div id="songs">
    <ul>
      <% @files.each do |file| %>
        <li><a href="/<%= params[:artist] %>/<%= params[:album] %>/<%= file.split('/').last %>"><%= file.split('/').last %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<label for="loop"><input type="checkbox" id="loop"> Loop</label>
